{% extends 'base.html' %} 
{% load static %}

{% block head_title %} Profile{% endblock %} {% block content %}



<div class="my-12">
  <a class="bg-blue-500 px-5 py-3" href="{% url 'user_profile' %}">Profile</a>

</div>

<div class="my-10 py-3 px-4 bg-white rounded-xl shadow-md">
  <h1 class="font-bold text-3xl text-center pb-5 pt-2">Borrow History</h1>
  <hr />
  <form method="get" action="{% url 'borrow_report' %}">
    <div class="flex justify-center">
      <div
        class="mt-10 pl-3 pr-2 bg-white border rounded-md border-gray-500 flex justify-between items-center relative w-4/12 mx-2"
      >
        <label for="start_date">From:</label>
        <input
          class="appearance-none w-full outline-none focus:outline-none active:outline-none"
          type="date"
          id="start_date"
          name="start_date"
        />
      </div>
 
      <div
        class="mt-10 pl-3 pr-2 bg-white border rounded-md border-gray-500 flex justify-between items-center relative w-4/12"
      >
        <label for="end_date">To:</label>
        <input
          class="appearance-none w-full outline-none focus:outline-none active:outline-none"
          type="date"
          id="end_date"
          name="end_date"
        />
      </div>
      <div class="mt-10 pl-3 pr-2 flex justify-between items-center relative w-4/12">
        <button
          class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Filter
        </button>
      </div>
    </div>
  </form>
  <table
    class="table-auto mx-auto w-full px-5 rounded-xl mt-8 border dark:border-neutral-500"
  >
    <thead class="bg-purple-900 text-white text-left">
      <tr
        class="bg-gradient-to-tr from-blue-600 to-pink-300 rounded-md py-2 px-4 text-black font-bold"
      >
        <th class="px-4 py-2">Borrow Id</th>
        <th class="px-4 py-2">Book Name</th>
        <th class="px-4 py-2">Price</th>
        <th class="px-4 py-2">Balance After Transaction</th>
        <th class="px-4 py-2">Borrow Date</th>
        <th class="px-4 py-2">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for borrow in object_list %}
      <tr class="border-b dark:border-neutral-500">
        <td class="px-4 py-2">
          {{ borrow.borrower.account_no}}
        </td>
        <td class="px-4 py-3 text-s border"> 
            {{ borrow.book.book_name }}
        </td>
        <td class="px-4 py-2">
          <b style="font-size:23px;">৳</b> {{ borrow.book.price }}
        </td>
        <td class="px-4 py-2">
            <b style="font-size:23px;">৳</b> {{ borrow.balanace_after_transaction}}
        </td>
        <td class="px-4 py-2">
          {{ borrow.borrow_date|date:"F d, Y h:i A" }}
        </td>
        <td class="px-4 py-2">
           {% if borrow.is_returned %}
              <h6 class="text-green-500">Returned</h6>
            {% else %}
              <a href="{% url 'return_book' borrow.id %}" class="mr-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-900 rounded text-white border-white">Return</a>  
           {% endif %}
          
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}