{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Dummy Library System" />
        <title>
            {% block head_title %}Pathagar{% endblock %}
        </title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        
    </head>
    <body class="bg-gradient-to-r from-teal-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%">
        {% include 'navbar.html' %}
        {% block body %}
            <div class="lg:container lg:mx-auto" id="main">
                {% include 'messages.html' %}
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
    </body>

</html>